@{
    ViewData["Title"] = "Thong tin Sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Member Id: @Model.HqmMemberId</p>
    <p>Member UserName: @Model.HqmUserName</p>
    <p>Member Password: @Model.HqmPassword</p>
    <p>Member FullName: @Model.HqmFullName</p>
    <p>Member Email: @Model.HqmEmail</p>

</div>


